body {
    margin: 0 auto;
    background-color:#fff;
    width: 70%;
    font-family: Arial;
}
nav a {
    color:#006DF0;
    text-decoration: none;
}
nav a:hover {
    color:#03499e;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
    background-color: #006DF0;
    color:#fff;
    margin: 0;
    padding: 1%;
}
h3 {
    margin: 2%;
    font-size: 1.2em;
}
p {
    padding:0;
    font-size: 1em;
}
img {
    width: 25%;
    margin: 1.5% 2%;
    border: 1px solid #bbbbbb;
}
.item {
    background-color: #bfe5fb33;
    padding: 0;
    border: 1px solid #bedafb;
    margin-bottom: 2.5%;
}
.item p {
    padding: 0 2%;
}
.item p:first-child {
    margin: 2% 0 2% 0;
}
.button {
    background-color: #016df0;
    color: #fff;
    text-decoration: none;
    padding: 1.5%;
    border-radius: 20px;
    margin: 2% 0;
    white-space: nowrap;
}
.button:hover {
    background-color: #03499e;
}
.detail {
    padding: 0 2%;
}
.button_container {
    margin: 4% 2%;
}

@media only screen and (max-width: 1020px) {
    body {
        width: 85%;
    }
    img {
        width: 35%;
    }
}

@media only screen and (max-width: 750px) {
    body {
        width: 95%;
    }
    img {
        width: 60%;
    }
}

@media only screen and (max-width: 650px) {
    img {
        width: 60%;
    }
}
